
<div class="container mt-3" id="areaMessage">
    {{!-- <div class="card">
        <div class="card-body">
            <div class="row col-12">
                <div class="form-group col-12">
                <label for="">Selecione o curso</label>
                    <select name="cursos" id="cursos" class="form-control col-12">
                        <option value=""></option>
                    </select>
                    <br>
                    <button class="btn btn-success">Pesquisar</button>
                </div>
            </div>
        </div>
    </div> --}}
        <div class="card" id="areaMessage">
            <div class="card-body" id="areaMessage">            
                <div class="row mt-5">
                    <div class="form-group col-4">
                        <label for="DDD" id="labelBranco">Add DDD</label>
                        <br>
                        <select name="" id="DDD" class="form-control">
                            <option value="null">selecione o DDD</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="24">24</option>
                        </select>
                    </div>
                    <div class="form-group col-8">
                        <label for="">Selecione os numeros</label>
                        <select name="telefone" id="telefone" class="form-control">
                            <option value="">Selecione</option>
                            {{#each clients}}
                            <option value="{{numero}}">{{index}} - {{cursos}} - {{numero}}</option>
                            {{/each}}
                        </select>                   
                    </div>
                </div>                
                <div class="row" id="Text">
                    <div class="form-group col-12">
                        <label for="" id="labelBranco">Mensagem a ser Enviada</label>
                        <textarea class="form-control" name="" id="text" cols="30" rows="10">
Cursos GRATUITOS é na Firjan SENAI Barra Mansa!

Já fez sua inscrição? São as últimas vagas para cursos gratuitos da modalidade de qualificação a distância. Assim, você se capacita para fazer a diferença na sua vida. 
Acesse o site, escolha o curso do seu interesse e faça logo a inscrição. Saiba mais sobre os pré-requisitos. Não perca tempo, as vagas são limitadas. 
Inscreva-se até 27/9.
Inscrições e informações: www.firjansenai.com.br/vagasgratuitas
Cursos para Unidade de Barra Mansa: Assistente de Produção Industrial, Assistente de Controle de Qualidade, Instalador e Reparador de Rede de Computadores, Eletricista Instalador Residencial
Acesse o site, escolha o curso do seu interesse e faça logo a inscrição. Importante: você deve selecionar a Unidade Barra Mansa.
Usar preferencialmente o browser Google Chrome.
Assistente de Produção Industrial EAD
http://firjansenai.com.br/cursorio/portal/detalhe-do-curso/curso_gratuito_pf/assistente-de-producao-industrial
Assistente de Controle de Qualidade EAD
http://firjansenai.com.br/cursorio/portal/detalhe-do-curso/curso_gratuito_pf/assistente-de-controle-de-qualidade
Instalador e Reparador de Redes de Computadores
http://firjansenai.com.br/cursorio/portal/detalhe-do-curso/curso_gratuito_pf/instalador-e-reparador-de-redes-de-computadores
Clique no botão "Faça sua inscrição". No ambiente de inscrição, você deverá se cadastrar e anexar os documentos solicitados.
                        </textarea>
                        <br>
                        <button class="btn btn-info mt-1 col-12" id="copy">Copiar</button>
                                            
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <button class="btn btn-success col-12" onclick="part_one()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
