<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {{>pluginsCss}}
</head>

<body onload="carregou()">
    {{>_nav}}
    {{>_sideBar}}
    {{{body}}}
    {{>_footer}}


    {{>pluginsJs}}

    {{!-- <script src="/js/mandarsms.js"></script> --}}
    {{!-- <script src="/js/btnCopiar.js"></script> --}}
    {{!-- <script>
        /*        function carregou(){
                    var DATE = new Date
                    var Hr = DATE.getHours()
                    var Text = document.querySelector('#Text')
                    if(Hr >=7 && Hr <= 12){
                        var Dia = 'Bom Dia'
                        alert(Dia)

                    }
                    if(Hr >= 13 && Hr < 18){
                        var Tarde = 'Boa Tarde'
                    alert(Tarde)
                    }
                    if(Hr >=18 && Hr <7){
                        var Noite = 'Boa Noite'
                        alert(Noite)
                    }
                }*/



    </script> --}}
</body>

</html>